<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta charset="utf8" />
    <title>Projekt neve</title>
    <link href="{{ app.request.basepath }}/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{{ app.request.basepath }}/css/backend.css" />
    {% block head %}{% endblock %}
</head>
<body>

    <nav class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
        <div class="container">
            <div class="navbar-header">
                <a href="{{ path("admin_homepage") }}" class="navbar-brand">Projekt neve</a>
            </div>
            <nav role="navigation">
                <ul class="nav navbar-nav">
                    {#<li><a href="{{ path("admin_moderate_index") }}">Moderálás</a></li>#}
                </ul>

                <ul class="nav navbar-nav pull-right">
                    <li><a href="{{ path("admin_logout") }}">Kijelentkezés</a></li>
                </ul>
            </nav>
        </div>
    </nav>

    <div class="container">
    {% block content %}{% endblock %}
    </div>
</body>
</html>
